nav{
    position: fixed;
    background: white;
    z-index: 1000;
    width: 100%;
    padding: 15px;
  }

nav ul li a {
    position: relative;
    display: block;
    font-size: 14px;
    color: #292929;
    font-family: 'Poppins', helvetica;
    font-weight: 500;
    line-height: 16px;
    text-transform: lowercase;
    letter-spacing: 0.02em;
  }
  
  nav ul li a:hover {
    color: #c0a176;
  }
  
  
  .before-scroll {
    background: white;
    display: block ;
  }
  
  .before-scroll a:hover{
    color: #c0a176;
  }
  