/* Portflio page css */

.section-title h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}

nav{
    position: relative;
}

h3 {
    font-size: 3.7rem;
    margin-top: 5%;
    margin-bottom: 2%;
    text-transform: uppercase;
    /* color: black; */
    color: #263F9B;
    /* font-weight: 700; */
    letter-spacing: 2px;
    

}

h4 {
    font-size: 2.7rem; 
    color: #717171;
    /* color: #080D20; */
    /* text-align: center; */
    margin-bottom: 3%;
    font-family: 'montserrat';
    font-weight: bold;
    /* letter-spacing: 2px; */
    /* color: #263F9B; */
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
    color: #717171;
}

p {
    margin-top: .3%;
    /* color: #212529 */
    color: #717171;
    font-family: 'Open Sans';
}

li {
    color: #717171;
}

strong {
    color: black;
}

.subheader {
    font-family: 'Open Sans';
    color: #717171;

}

ul li {
    font-size: 1.5rem;
}

.unordered-list {
    list-style-type: bullets;
}

.btn {
    font-family: 'Montserrat', Helvetica;
    letter-spacing: 2px;
    border-radius: 4px;
    background-color: #292929;
    color: white;
    width: 100%;
    margin-top: 5%;
    height: 40px;
    text-transform: uppercase;

}


#back-click {
    height: 15px;
    margin-bottom: .2%;
}

.header-hr {
    margin-top: 3%;
}

.header-hrFINAL {
    margin-top: 7%;
}

hr {
    /* border-color: #999999; */
}


/* Navbar */

#back {
    /* background: #f7f2f2; */
    padding-bottom: 0px;
    padding-top: 1%;
    /* margin-top: 2%; */
}





/* Main content */
/* PORTFOLIO */

#portfolio-bkgd {
    background: white;
    padding-top: 5%;
    /* box-shadow: 0px 3px 10px #C1C1C1; */
}

#portfolio-single {
    /* padding-top: .5%; */
    position: relative;
    padding-bottom: 50px;
    /* background: #f7f2f2; */
}

#portfolio-single .portfolio-list {
    margin-bottom: 50px;
}

#portfolio-single .portfolio-list .nav {
    display: inline-block;
    margin: 0;
}

#portfolio-single .portfolio-list .nav li {
    margin: 0 40px 0 0;
    float: left;
    font-size: 1.5rem;
    color: #717171;
    line-height: 16px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.02em;
    /* text-transform: lowercase; */
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

#portfolio-single .portfolio-list .nav li:hover,
#portfolio .portfolio-list .nav li.filter-active {
    color: #c0a176;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

#portfolio-single .portfolio-container {
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;
}

#contact {
    background: #f7f2f2;
}

.tab2,
.tab3,
.tab4 {
    cursor: pointer;
}


.features {
    text-transform: uppercase;
}

.btn {
    /* background-color: #080D20; */
    background-color: #263F9B;
}

.btn:hover {
    background-color: #080D20;
    /* background-color: #263F9B; */

}


/* DELL images */

#heroimg {
    width: 100%;
    padding-top: 3%;
}

.clickableimg {
    /* height: 450px; */
    width: 100%;

}

#proto {
    width: 100%;
}

#redline {
    width: 100%;
}

#swots {
    /* height: 600px; */
    width: 100%;
}

#survey {
    height: 70px;
    margin-bottom: 10%;
}

#survey2 {
    height: 70px;
    margin-bottom: 10%;
}

#usability1 {
    /* height: 400px; */
    width: 100%;
    margin-top: -30px;
}

#surveyimg {
    height: 150px;
    width: 150px;
}

#findingicons {
    width: 15%;
}

#transcriptions {
    height: 300px;
    width: 100%;
}

#userpersonaimg {
    width: 100%;
    margin-top: -7%;
}

#triads {
    width: 100%;
    height: 100%;
    margin-top: -10%;
}

#businessmodel {
    width: 100%;
    /* height: 130%; */
}

#sitemap {
    width: 100%;
    height: 600px;
}

#storyboard {
    width: 100%;
}

#styleguide {
    width: 100%;
}

#sketches {
    width: 100%;
}

#NavAB {
    width: 100%;
}

#phoneicon {
    height: auto;
    width: 60px;
    padding-bottom: 6%;
    margin-left: 40%;
}

#laptopicon {
    height: auto;
    width: 160px;
    margin-top: 3%;
    margin-bottom: 10%;
    margin-left: 25%;
}

#navmobilevid {
    width: 100%;
}


#donationvideo {
    width: 100%;
}

/* 
#problem-research,
#ideation,
#design,
#prototype-future {
    display: none;
} */