/* Portflio page css */

h3 {
    font-size: 25px;
    margin-top: 5%;
    margin-bottom:2%;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3%;
    text-decoration: underline;
}

p {
    margin-top: .3%;
    color: #212529
}

ul li{
    font-size: 15px;
}

.unordered-list {
    list-style-type: bullets;
}

.btn {
    font-family: 'Poppins', Helvetica;
    letter-spacing: 2px;
    border-radius: 4px;
    background-color: #292929;
    width: 100%;
}


#back-click {
    height: 15px;
    margin-bottom: .2%;
}


/* Navbar */

#back {
    background: #f7f2f2;
    padding-bottom: 0px;
    padding-top: 8%;
    /* margin-top: 2%; */
}

/* Main content */

/* PORTFOLIO */

#portfolio-single {
    padding-top: .5%;
    position: relative;
    padding-bottom: 50px;
    background: #f7f2f2;
}

#portfolio-single .portfolio-list {
    margin-bottom: 50px;
}

#portfolio-single .portfolio-list .nav {
    display: inline-block;
    margin: 0;
}

#portfolio-single .portfolio-list .nav li {
    margin: 0 40px 0 0;
    float: left;
    font-size: 15px;
    color: #717171;
    line-height: 16px;
    cursor: pointer;
    font-family: 'Poppins', helvetica;
    font-weight: 500;
    letter-spacing: 0.02em;
    /* text-transform: lowercase; */
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

#portfolio-single .portfolio-list .nav li:hover,
#portfolio .portfolio-list .nav li.filter-active {
    color: #c0a176;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

#portfolio-single .portfolio-container {
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;
}


.tab2 {
    cursor:pointer;
}




/* images */

.clickableimg {
    height: 200px;
    width: 250px;
}

#meetingpic {
    height: 400px;
    width: 550px;
    object-fit: fill;
    margin-top: 4%;
    
}

#swot {
    height: 600px;
    width: 100%;
} 

#usability1{
    height: 400px;
    width: 530px;
    margin-top: -30px;
}

#transcriptions {
    height: 300px;
    width: 100%;
}

#userpersonaimg {
    width: 100%;
    margin-top: -7%;
}



/* #problem-research, */
#ideation,
#design,
#prototype-future {
    display: none;
}