/* Portflio page css */
/* 
#hello {
    margin-top:5%;
} */

nav{
    position: relative;
}


a:hover {
    color: #c0a176;
}

.section-title h2 {
    letter-spacing: 2px;
    text-transform: none;
    font-weight: 500;
}
  

p {
    margin-top: .3%;
    color: #717171;
}

li {
    color: #717171;
}


strong {
    color: black;
}

.subheader {
    font-family: 'Open Sans';
    color: #717171;

}

ul li{
    font-size: 15px;
}

.unordered-list {
    list-style-type: bullets;
}

.btn {
    font-family: 'Montserrat', Helvetica;
    letter-spacing: 2px;
    border-radius: 4px;
    background-color: #292929;
    width: 100%;
}


#back-click {
    height: 15px;
    margin-bottom: .2%;
}

.header-hr {
    margin-top: 3%;
}

.header-hrFINAL {
    margin-top: 7%;
}

hr{
    /* border-color: #EB5629; */
}


/* Navbar */

#back {
    /* background: #f7f2f2; */
    padding-bottom: 0px;
    padding-top: 2%;
    /* margin-top: 2%; */
}

/* Main content */

/* PORTFOLIO */

#portfolio-bkgd {
    background: white;
    padding-top: .5%;
    /* box-shadow: 0px 3px 10px #C1C1C1; */
}

#portfolio-single {
    padding-top: .5%;
    position: relative;
    padding-bottom: 50px;
    /* background: #f7f2f2; */
}

#portfolio-single .portfolio-list {
    margin-bottom: 50px;
}

#portfolio-single .portfolio-list .nav {
    display: inline-block;
    margin: 0;
}

#portfolio-single .portfolio-list .nav li {
    margin: 0 40px 0 0;
    float: left;
    font-size: 15px;
    color: #717171;
    line-height: 16px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.02em;
    /* text-transform: lowercase; */
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

#portfolio-single .portfolio-list .nav li:hover,
#portfolio .portfolio-list .nav li.filter-active {
    color: #c0a176;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

#portfolio-single .portfolio-container {
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;
}



.tab2, .tab3, .tab4 {
    cursor:pointer;
}


.features {
    text-transform: uppercase;
}

#contact {
    background: #f7f2f2;
}

#hero {
    margin-top: 5%;
}


/* SAA images */

#heroimg {
    width: 100%;
}

.clickableimg {
    /* height: 450px; */
    height: auto;
    width: 100%;
    opacity: 1;
    transition: .3s ease;
    padding-bottom: 5%;
    /* backface-visibility: hidden; */
}
.clickableimg:hover {
    opacity: 0.6;
}


#meetingpic {
    height: 400px;
    width: 100%;;
    /* margin-top: 6%; */
    
}

#swot {
    height: 600px;
    width: 100%;
} 

#usability1{
    width: 100%;
    height: 90%;
    margin-top: -30px;
}

#surveyimg {
    height: 150px;
    width: 150px;
}

#survey {
    width: 100%;
}

#transcriptions {
    height: 300px;
    width: 100%;
}

#userpersonaimg {
    width: 100%;
    margin-top: -7%;
}

#empathy {
    width: 100%;
    height: 650px;
    margin-top: -5%;
}


#sitemap {
    width: 100%;
    height: 600px;
}

#storyboard {
    width: 100%;
}

#styleguide {
    width: 100%;
}

#sketches {
    width: 100%;
}

#NavAB {
    width: 100%;
}

#phoneicon {
    height: auto;
    width: 60px;
    padding-bottom: 6%;
    margin-left: 40%;
}

#laptopicon {
    height: auto;
    width: 160px;
    margin-top: 3%;
    margin-bottom: 10%;
    margin-left: 25%;
}

#navmobilevid {
    width: 100%;
}


#donationvideo {
    width: 100%;
}

/* 
#problem-research,
#ideation,
#design,
#prototype-future {
    display: none;
} */


