body {
  background: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#spac {
  padding: 50px 100px 40px;
}




/* ---General Font------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Montserrat', 'helvetica';

}

html {
  font-size: 10px;
}

h1 {
  font-size: 4rem;
  margin-top: 5%;
  margin-bottom: 2%;
  color: #414141;
  letter-spacing: 2px;
  text-transform: none;
  font-weight: 500;
}

h2 {
  font-size: 4rem;
  margin-top: 5%;
  margin-bottom: 2%;
  color: #080D20;
  letter-spacing: 2px;
  text-transform: none;
  font-weight: 500;
}

h3 {
  font-size: 2.7rem;
  color: #8D5A60;
  margin-bottom: 3%;
  /* margin-top: 7%; */
  font-weight: 600;
  text-transform: uppercase;
}

h4 {
  font-size: 2.2rem;
  color: #080D20;
  margin-bottom: 3%;
  /* margin-top: 2%; */
  /* font-style: italic; */
  /* text-transform: uppercase; */
  font-weight: 600;
}

h5 {
  font-size: 1.7rem;
  color: #080D20;
  line-height: 1.6;
  font-weight: 700;
}

h6 {
  font-size: 1.7rem;
  color: #414141;
  margin-bottom: 3%;
  font-weight: 550;
}


a {
  color: #080D20;
  text-decoration: none;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

a:hover {
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

a:hover,
a:focus {
  /* color: #c0a176; */
  color: #B91124;
  color: #8D5A60;
  text-decoration: underline;
}

strong {
  font-family: 'montserrat', sans-serif;
  font-style: #080D20;
  color: #080D20;
}


#sectiontitle {
  text-decoration: underline;
  text-decoration-color: #B91124;
  text-decoration-color: #8D5A60;
  text-decoration-style: solid;
  text-decoration-thickness: 7px;
  text-underline-offset: 4px;
  padding-bottom: 30px;
  padding-top: 40px;
}


p {
  font-family: 'Montserrat', helvetica;
  font-size: 1.6rem;
  color: #414141;
  line-height: 1.6;
  font-weight: 450;
  padding: 0;
}

li {
  font-family: 'Montserrat', helvetica;
  font-size: 1.6rem;
  color: #414141;
  line-height: 1.6;
  font-weight: 450;
  padding: 0;
}

.row {
  margin-top: 1%;
  margin-bottom: 1%;
}

.nonclickableimg {
  /* height: 450px; */
  height: auto;
  width: 100%;
  opacity: 1;
  transition: .3s ease;
  padding-bottom: 5%;
  /* backface-visibility: hidden; */
}

.clickableimg {
  /* height: 450px; */
  height: auto;
  width: 100%;
  opacity: 1;
  transition: .3s ease;
  padding-bottom: 5%;
  /* backface-visibility: hidden; */
}

.clickableimg:hover {
  opacity: 0.6;
}

.imgContainer {
  position: relative;
}

.imgContainer :hover {
  filter: brightness(0.3);
}

.imgContainer h3 {
  display: none;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: white;
  margin-top: -2%;
  /* transition: all .2s ease-in-out; */

}

.imgContainer:hover h3 {
  display: inline;
}


.clickableimg2 {
  display: block;
  width: 100%;
  transition: .3s ease;
  padding-bottom: 5%;
  z-index: 100;
  /* backface-visibility: hidden; */
}

/* .clickableimg2:hover{
  filter: brightness(0.6);
  z-index: -9999;

} */

/* .overlay {
  position: absolute;
  padding: inherit;
  top:0;
  left:0;
  width:100%;
  height: 100%; 
  color: #ffffff
} */






blockquote {
  border: 21px solid #8D5A60;
  margin: 1em 0;
  padding: 0 0 0 2em;
  border-width: 0 0 0 2px;
}


/* ---------------------- */


::-moz-selection {
  /* background: #8D5A60; */
  color: #fff;
}

::selection {
  /* background: #8D5A60; */
  /* color: #fff; */
}



.btn:hover,
.btn:focus {
  color: #fff;
}





/*-----------------------------------------------------------------------------------*/
/*  Navbar Top
/*-----------------------------------------------------------------------------------*/
#main-nav {
  display: block !important;
}

nav {
  position: fixed;
  background: transparent;
  z-index: 1000;
  width: 100%;
  /* padding: 15px; */
}

.nav-menu {
  float: right;
  line-height: 32px;
  margin-bottom: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}


nav ul li {
  float: left;
  margin-right: 15px;
  margin-left: 30px;
}

nav ul li a {
  position: relative;
  display: block;
  font-size: 1.6rem;
  font-family: 'Montserrat', helvetica;
  color: #080D20;
  font-weight: 500;
  line-height: 16px;
  text-transform: lowercase;
  letter-spacing: 0.02em;
}


ul li {
  font-size: 1.5rem;
}

li {
  color: #414141;
}

.before-scroll {
  background: transparent;
  display: block;
}

.before-scroll a:hover {
  color: #8D5A60;
}


.after-scroll {
  background-color: rgba(255, 255, 255, 0.9);
  display: block !important;
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.08);
}

.after-scroll a {
  color: #080D20;
}

.after-scroll a:hover {
  color: #8D5A60;
}


.logo {
  float: left;
  padding-top: 8px;
}

.logo img {
  width: 30px;
  height: 30px;
}

.responsive {
  display: none;
  font-size: 2.3rem;
}

#colored {
  background: #FAF4F1;
  margin-top: 3%;
  padding-bottom: 2%;
  padding-top: 1%;
}

.colored2 {
  background: #080D20;
  background: #DECACD;
  padding: 4% 4% 3%;
  margin-top: 40px;
  margin-bottom:40px;
}

#process {
  padding: 3% 0% 0% !important;
  margin-bottom:0px !important;
}

/* .active {
  color: #080D20;
} */

/*----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/



#header {
  background: url("../images/emma\ images/Frontal\ copy.jpg") repeat center center/ cover;
  background-size: cover;
  height: 130vh;
  width: 100%;
}


#header .header-content {
  height: 100vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-content h1 {
  margin-bottom: 10px;
  color: #fff;
}

.header-content p {
  font-size: 1.3rem;
  letter-spacing: 4px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
}

.header-content .list-social li {
  float: left;
  margin-right: 20px;
}

.header-content .list-social li i {
  color: #fff;
  font-size: 1.5rem;
}

#subtext {
  text-transform: lowercase;
  color: #fff;

}

#subtext:hover {
  color: #080D20;
  text-decoration: underline;
  cursor: pointer;
}


/*-----------------------------------------------------------------------------------*/
/*  Portfolio
/*-----------------------------------------------------------------------------------*/

#portfolio {
  position: relative;
  padding-bottom: 50px;
}

#portfolio .portfolio-list {
  margin-bottom: 50px;
}

#portfolio .portfolio-list .nav {
  display: inline-block;
  margin: 0;
}

#portfolio .portfolio-list .nav li {
  margin: 0 40px 0 0;
  float: left;
  font-size: 1.5rem;
  color: #414141;
  line-height: 16px;
  cursor: pointer;
  font-family: 'Montserrat', helvetica;
  font-weight: 500;
  letter-spacing: 0.02em;
  /* text-transform: lowercase; */
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

#portfolio .portfolio-list .nav li:hover,
#portfolio .portfolio-list .nav li.filter-active {
  color: #8D5A60;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

#portfolio .portfolio-container {
  display: inline-block;
  margin-bottom: 50px;
  width: 100%;
}

.portfolio-thumbnail {
  margin-bottom: 30px;
  overflow: hidden;
  min-height: 260px;
  max-height: 260px;
}

.portfolio-thumbnail img {
  max-width: 100%;
}





/*-----------------------------------------------------------------------------------*/
/*  About
/*-----------------------------------------------------------------------------------*/

#about {
  padding-top: 8%;
  padding-bottom: 5%;
}

#about .div-img-bg {
  padding-bottom: 5%;
  border: 20px solid #8D5A60;
}

#about .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -50px;
  margin-left: 40px;
  height: 400px;
  object-fit: cover;
}

.p-heading {
  /* font-family: 'Roboto', serif; */
  font-size: 2.8rem;
  text-align: left;
  color: #080D20;
  font-weight: bold;
}

.about-separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left;
  color: #414141;
  margin: 25px 0;
  font-size: 17px;
  line-height: 28px;
}

/*-----------------------------------------------------------------------------------*/
/*   Services
/*-----------------------------------------------------------------------------------*/

#services {
  background: white;
  background: #DECACD;
  /* padding-bottom: 7%; */
  padding-top: 7%;
  width: 100%;
}


.service-icons {
  /* width: 40%; */
  height: 25%;
}



/*-----------------------------------------------------------------------------------*/
/*  Contact
/*-----------------------------------------------------------------------------------*/

#contact {
  background-color: #FAF4F1;
  /* padding-bottom:5%; */

}

#footertext {
  padding-top:2%;
}



#contact .socials-media {
  width: 100%;
}


#contact p {
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 0;
  text-transform: uppercase;
}

.credits {
  font-size: 1.3rem;
}

.footerlogo {
  /* width: 6%;
  height: auto; */
  margin-left: 4%;
  margin-right: 4%;
}